body {
  margin: 0;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.slider-wrapper {
  position: absolute;
  bottom: -30px;
  left: 80px;
  z-index: 999;
  font: 14px/16px Arial, Helvetica, sans-serif;
}

.fluid-slider {
  -webkit-appearance: none;
  width: 50vw;
  height: 25px;
  background: #d83c3c;
  border-radius: 2px;
  margin: 0;
  position: relative;
}

.fluid-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  opacity: 0.65;
  border: 4px solid #d83c3c;
  position: relative;
  transition: all ease-in-out 0.05s;
}

.fluid-slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  opacity: 0.65;
  border: 4px solid #d83c3c;
  position: relative;
  transition: all ease-in-out 0.05s;
}

.fluid-slider:focus {
  outline: none;
}
.fluid-slider:active::-webkit-slider-thumb {
  background: transparent;
}

.fluid-slider:active::-moz-range-thumb {
  background: transparent;
}

.fluid-slider:active + .range-label {
  visibility: visible;
  opacity: 1;
  top: -75px;
}

.fluid-slider:before,
.fluid-slider::after {
  position: absolute;
  content: '';
  width: 60px;
  padding: 0.5em;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

.fluid-slider:before {
  left: -70px;
  content: attr(minLabel);
}

.fluid-slider:after {
  right: -70px;
  content: attr(maxLabel);
}

.range-label {
  position: relative;
  display: block;
  width: 60px;
  height: 40px;
  top: -65px;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  transform: translateX(-50%);
  box-sizing: border-box;
  border: 6px solid #d83c3c;
  left: attr(value) 20;
  transition: all ease-in 0.05s;
  z-index: -1;
}

.range-label:after {
  position: absolute;
  content: '';
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, transparent 50%, #d83c3c 50%),
    radial-gradient(circle, transparent 50%, #d83c3c 50%);
  background-size: 180% 100%, 180% 100%, 100% 100%;
  background-position: 150% 0%, -50% 0%, 100% 100%;
}

::-moz-range-track {
  background: #d83c3c;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* Form wrapper styling */
.search-wrapper {
  width: 382px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 10px;
  left: 55px;
  z-index: 999;
}

/* Form text input */

.search-wrapper input {
  width: 300px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
}

.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* Form submit button */
.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 72px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: white;
  text-transform: uppercase;
  background: #d83c3c;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.search-wrapper button:hover {
  background: #e54040;
}

.search-wrapper button:active,
.search-wrapper button:focus {
  background: #c42f2f;
  outline: 0;
}

.search-wrapper button:before {
  /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

.search-wrapper button:hover:before {
  border-right-color: #e54040;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

.dropdown-wrapper {
  position: absolute;
  top: 10px;
  left: 450px;
  z-index: 999;
}

.dropdown {
  background: #d83c3c;
  border-radius: 4px;
  height: 40px;
  width: 72px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border: none;
}

.dropdown:hover {
  background: #e54040;
}

.results {
  position: absolute;
  left: 0;
  top: 40px;
  list-style: none;
  width: calc(100% - 72px);
  margin: 0;
  padding: 0;
}
.single-result {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 10px 20px;
}
.single-result:hover {
  background: #eee;
}
.single-result .name,
.single-result .id {
  margin: 0;
  font: normal 15px/15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}
.single-result .name {
  margin-bottom: 5px;
}
.single-result .id {
  color: #bbb;
}

.loading {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  display: none;
}

.spinner {
  background: #000
    url(https://code.jquery.com/mobile/1.1.0/images/ajax-loader.gif) 0 0
    no-repeat;
  border: 0;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  box-shadow: 0 1px 1px -1px #fff;
  display: block;
  height: 46px;
  left: 50%;
  margin: -23px 0 0 -23px;
  opacity: 0.18;
  overflow: hidden;
  padding: 1px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 46px;
  z-index: 9999;
}
